* {
  margin: 0%;
  padding: 0%;
  font-family: "Hanken Grotesk", sans-serif;
}

.top-part {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  color: hsla(222, 100%, 96%, 0.715);
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: grid;
  /* place-items: center; */
  justify-items: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  grid-row-gap: 1.4rem;
  border-radius: 0 0 1.6rem 1.6rem;
  margin-bottom: 1.2rem;
}

.circle {
  background-image: linear-gradient(rgb(78, 33, 202), hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  justify-items: center;
}

.big-number {
  padding-top: 1.2rem;
  margin-bottom: 0;
  font-size: 4rem;
  justify-items: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
}

.small-number {
  padding-bottom: 2rem;
  color: hsla(222, 100%, 96%, 0.493);
}

h2 {
  color: hsl(0, 0%, 100%);
}

.content {
  padding-left: 3rem;
}

.summary {
  font-size: 18px;
  display: grid;
  justify-items: left;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  grid-row-gap: 1rem;
  align-items: center;
  width: fit-content;
}

h3 {
  color: hsl(224, 30%, 27%);
}

.container-li {
  list-style: none;
  display: grid;
  /* grid-row-gap: 1rem; */
  max-width: fit-content;
  margin-right: 0;
}

.container-li-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.li-one {
  background-color: hwb(0 34% 0% / 0.085);
  color: hsl(0, 100%, 67%);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 10px;
}

.li-two {
  background-color: hsla(39, 100%, 56%, 0.085);
  color: hsl(39, 100%, 56%);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.li-three {
  background-color: hsl(166, 100%, 37%, 0.085);
  color: hsl(166, 100%, 37%);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.li-four {
  background-color: hsl(234, 85%, 45%, 0.085);
  color: hsl(234, 85%, 45%);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.three {
  padding-left: 1rem;
}

.four {
  padding-left: 1rem;
}

.number {
  justify-content: end;
  margin-left: 8rem;
  width: fit-content;
  color: hsla(224, 30%, 27%, 0.492);
}

span {
  color: hsl(224, 30%, 27%);
  font-weight: bold;
}

.svg-margin {
  margin-right: 0.5rem;
}

.btn {
  width: 100%;
  border-style: none;
  padding: 1rem;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  color: hsl(0, 0%, 100%);
  background: hsl(224, 30%, 27%);
  border-radius: 30px;
  margin-bottom: 1rem;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
